export CI_ROOT="/tmp/ci" # path for cache, logs
export CI_ENTRYPOINT="bin/qa-ci-stage1" # path inside your repo to the script that will be executed (outside any containering)
export GITHUB_SHARED_SECRET="XXX"
export GITHUB_API_TOKEN="XXXX"
export EXTERNAL_HOSTNAME="ci.yourcompany.com" # externally visible, sent in mails
export POSTMARK_API_TOKEN="XXX" # looks like a uuid
export POSTMARK_SENDER_EMAIL="XXX@asdf.com"
