#!/bin/bash

read -d '' github_key << END
-----BEGIN RSA PRIVATE KEY-----
[...]
-----END RSA PRIVATE KEY-----
END

export GITHUB_SHARED_SECRET="XXXXX"
export GITHUB_SSH_KEY="$github_key"
export GITHUB_API_TOKEN="XXXXXX"
export EXTERNAL_HOSTNAME=`hostname`
export POSTMARK_API_TOKEN="XXXXXXX"

exec docker run -t -i -e GITHUB_SHARED_SECRET -e POSTMARK_API_TOKEN -e GITHUB_SSH_KEY -e GITHUB_API_TOKEN -e EXTERNAL_HOSTNAME -p 9292 $1
